ServerCalculator/scripts/calculator.wsdl

<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/calculator"
    targetNamespace="http://example.com/calculator"
>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/calculator">
            <element name="add">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="addResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>

            <element name="subtract">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="subtractResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>

            <!-- Multiplicación -->
            <element name="multiplication">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="multiplicationResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>

            <!-- División -->
            <element name="division">
                <complexType>
                    <sequence>
                        <element name="num1" type="xsd:int"/>
                        <element name="num2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="divisionResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="addRequest">
        <part name="parameters" element="tns:add"/>
    </message>
    <message name="addResponse">
        <part name="parameters" element="tns:addResponse"/>
    </message>

    <message name="subtractRequest">
        <part name="parameters" element="tns:subtract"/>
    </message>
    <message name="subtractResponse">
        <part name="parameters" element="tns:subtractResponse"/>
    </message>

    <!-- Mensajes para multiplicación -->
    <message name="multiplicationRequest">
        <part name="parameters" element="tns:multiplication"/>
    </message>
    <message name="multiplicationResponse">
        <part name="parameters" element="tns:multiplicationResponse"/>
    </message>

    <!-- Mensajes para división -->
    <message name="divisionRequest">
        <part name="parameters" element="tns:division"/>
    </message>
    <message name="divisionResponse">
        <part name="parameters" element="tns:divisionResponse"/>
    </message>

    <portType name="CalculatorPort">
        <operation name="add">
            <input message="tns:addRequest"/>
            <output message="tns:addResponse"/>
        </operation>

        <operation name="subtract">
            <input message="tns:subtractRequest"/>
            <output message="tns:subtractResponse"/>
        </operation>

        <!-- Operación para multiplicación -->
        <operation name="multiplication">
            <input message="tns:multiplicationRequest"/>
            <output message="tns:multiplicationResponse"/>
        </operation>

        <!-- Operación para división -->
        <operation name="division">
            <input message="tns:divisionRequest"/>
            <output message="tns:divisionResponse"/>
        </operation>
    </portType>
    <binding name="CalculatorBinding" type="tns:CalculatorPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="add">
            <soap:operation style="document" soapAction="add"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="subtract">
            <soap:operation style="document" soapAction="subtract"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <!-- Configuración para multiplicación -->
        <operation name="multiplication">
            <soap:operation style="document" soapAction="multiplication"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <!-- Configuración para división -->
        <operation name="division">
            <soap:operation style="document" soapAction="division"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CalculatorService">
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="http://localhost:8000/calculator"/>
        </port>
    </service>
</definitions>
